apiVersion: apps/v1
kind: Deployment
metadata:
  name: dtq-prometheus
  labels:
    app: dtq-prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dtq-prometheus
  template:
    metadata:
      labels:
        app: dtq-prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.54.1
          imagePullPolicy: IfNotPresent
          args:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.path=/prometheus
            - --storage.tsdb.retention.time=7d
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
      volumes:
        - name: prometheus-config
          configMap:
            name: dtq-prometheus-config
